In [1]:
import pandas as pd

In [30]:
electricity = pd.read_csv('../../data/computation/electricity_end_use.csv')
electricity = electricity[electricity.Description == 'Electricity End Use, Total'] # we will look at total electricity end-use
electricity['YYYYMM'] = electricity['YYYYMM'].astype(str)
electricity['YYYY'] = electricity.YYYYMM.str[:4]
electricity['Value'] = electricity['Value'].astype(float)
electricity['annual end use'] = electricity.groupby('YYYY')['Value'].transform('sum')
electricity.drop_duplicates('YYYY', inplace=True)
electricity.reset_index()
electricity = electricity.drop('Column_Order', axis=1)
electricity = electricity.drop('MSN', axis=1)
electricity = electricity.drop('YYYYMM', axis=1)
display(electricity)
# 2023 only has 11 months

,Value,Description,Unit,YYYY,annual end use
4110,254511.334,"Electricity End Use, Total",Million Kilowatthours,1949,254511.334
4111,291443.326,"Electricity End Use, Total",Million Kilowatthours,1950,291443.326
4112,330284.583,"Electricity End Use, Total",Million Kilowatthours,1951,330284.583
4113,356163.960,"Electricity End Use, Total",Million Kilowatthours,1952,356163.960
4114,396216.896,"Electricity End Use, Total",Million Kilowatthours,1953,396216.896
...,...,...,...,...,...
4732,341137.223,"Electricity End Use, Total",Million Kilowatthours,2019,7908841.601
4745,328246.135,"Electricity End Use, Total",Million Kilowatthours,2020,7712754.043
4758,333976.530,"Electricity End Use, Total",Million Kilowatthours,2021,7889578.642
4771,351053.160,"Electricity End Use, Total",Million Kilowatthours,2022,8133789.541
4784,333925.481,"Electricity End Use, Total",Million Kilowatthours,2023,3663634.009

In [38]:
compute = pd.read_csv('../../data/computation/systems_compute.csv')
compute = compute[['System','Training compute (FLOP)','Publication date']]
compute = compute.dropna()
# compute = compute.drop(compute.columns.difference(['System','Training compute (FLOP)','Publication date']), 1, inplace=True)
display(compute)

                              System Training compute (FLOP) Publication date
3                             KEPLER   124000000000000000000       2020-11-23
7                  Wu Dao - Wen Yuan   650280960000000000000       2021-01-11
8                             iGPT-L                8.91e+21       2020-06-17
9                 VD-LSTM+REAL Large       21300000000000000       2016-11-04
19                               GPT    17578125000000000000       2018-06-01
...                              ...                     ...              ...
1395                Cerebras-GPT-13B                 2.3e+22       2023-04-06
1399                     GBERT-Large          2.24446464e+21       2020-10-21
1400  BERT-Large-CAS (PTB+WT2+WT103)   521000000000000000000       2019-04-20
1402                ERNIE-Doc (247M)    29100000000000000000       2020-12-31
1410                       FLAN 137B               4.896e+22       2021-09-03

[555 rows x 3 columns]

In [40]:
data_cost = pd.read_csv('../../data/computation/memory_cost.csv')
# compute = compute.dropna()
# compute = compute.drop(compute.columns.difference(['System','Training compute (FLOP)','Publication date']), 1, inplace=True)
display(data_cost)

   Entity      Code  Year        memory     flash   disk_drives    ssd
0   World  OWID_WRL  1957  4.110418e+14       NaN           NaN    NaN
1   World  OWID_WRL  1959  6.794772e+13       NaN  7.600000e+09    NaN
2   World  OWID_WRL  1960  5.242880e+12       NaN  3.600000e+09    NaN
3   World  OWID_WRL  1965  2.642412e+12       NaN           NaN    NaN
4   World  OWID_WRL  1970  7.340030e+11       NaN  2.597000e+08    NaN
5   World  OWID_WRL  1973  3.993600e+11       NaN           NaN    NaN
6   World  OWID_WRL  1974  3.145730e+11       NaN  1.850000e+08    NaN
7   World  OWID_WRL  1975  4.992000e+10       NaN           NaN    NaN
8   World  OWID_WRL  1976  2.304000e+10       NaN           NaN    NaN
9   World  OWID_WRL  1978  1.520000e+10       NaN           NaN    NaN
10  World  OWID_WRL  1979  6.704000e+09       NaN           NaN    NaN
11  World  OWID_WRL  1980  6.480000e+09       NaN           NaN    NaN
12  World  OWID_WRL  1981  4.479000e+09       NaN           NaN    NaN
13  World  OWID_WRL  1982  1.980000e+09       NaN           NaN    NaN
14  World  OWID_WRL  1984  1.331000e+09       NaN           NaN    NaN
15  World  OWID_WRL  1985  3.000000e+08       NaN  3.139000e+07    NaN
16  World  OWID_WRL  1986  1.900000e+08       NaN  2.445000e+07    NaN
17  World  OWID_WRL  1987  1.330000e+08       NaN  1.497000e+07    NaN
18  World  OWID_WRL  1989  1.130000e+08       NaN  7.480000e+06    NaN
19  World  OWID_WRL  1990  4.600000e+07       NaN  3.270000e+06    NaN
20  World  OWID_WRL  1991  4.000000e+07       NaN  2.790000e+06    NaN
21  World  OWID_WRL  1992  2.630000e+07       NaN  1.400000e+06    NaN
22  World  OWID_WRL  1996  5.250000e+06       NaN  1.280000e+05    NaN
23  World  OWID_WRL  1997  2.160000e+06       NaN  4.840000e+04    NaN
24  World  OWID_WRL  1998  8.400000e+05       NaN  2.480000e+04    NaN
25  World  OWID_WRL  1999  7.800000e+05       NaN  8.800000e+03    NaN
26  World  OWID_WRL  2000  7.000000e+05       NaN  4.070000e+03    NaN
27  World  OWID_WRL  2001  1.500000e+05       NaN  2.590000e+03    NaN
28  World  OWID_WRL  2002  1.300000e+05       NaN  1.220000e+03    NaN
29  World  OWID_WRL  2003  7.600000e+04  191000.0  1.060000e+03    NaN
30  World  OWID_WRL  2006  7.300000e+04   14600.0  2.190000e+02    NaN
31  World  OWID_WRL  2007  2.400000e+04    7320.0  2.000000e+02    NaN
32  World  OWID_WRL  2008  1.000000e+04    1830.0  1.000000e+02    NaN
33  World  OWID_WRL  2011  5.100000e+03    1007.0  3.670000e+01    NaN
34  World  OWID_WRL  2012  3.700000e+03     580.0           NaN    NaN
35  World  OWID_WRL  2016  2.700000e+03       NaN  2.770000e+01  203.0
36  World  OWID_WRL  2021  2.600000e+03       NaN           NaN    NaN
37  World  OWID_WRL  2022  2.100000e+03       NaN  1.430000e+01   49.5
38  World  OWID_WRL  2005           NaN   76200.0  4.060000e+02    NaN
39  World  OWID_WRL  2009           NaN    1620.0  7.000000e+01    NaN
40  World  OWID_WRL  2010           NaN    1190.0  4.500000e+01    NaN
41  World  OWID_WRL  2013           NaN     458.0           NaN  625.0
42  World  OWID_WRL  2014           NaN     335.0  3.500000e+01  375.0
43  World  OWID_WRL  2015           NaN     145.0  2.830000e+01  250.0
44  World  OWID_WRL  1956           NaN       NaN  9.200000e+09    NaN
45  World  OWID_WRL  1964           NaN       NaN  3.518620e+09    NaN
46  World  OWID_WRL  1966           NaN       NaN  1.047260e+09    NaN
47  World  OWID_WRL  1988           NaN       NaN  9.970000e+06    NaN
48  World  OWID_WRL  1993           NaN       NaN  7.180000e+05    NaN
49  World  OWID_WRL  1994           NaN       NaN  4.330000e+05    NaN
50  World  OWID_WRL  1995           NaN       NaN  2.140000e+05    NaN
51  World  OWID_WRL  2004           NaN       NaN  6.090000e+02    NaN
52  World  OWID_WRL  2017           NaN       NaN  2.500000e+01    NaN
53  World  OWID_WRL  2018           NaN       NaN  2.340000e+01  104.0
54  World  OWID_WRL  2019           NaN       NaN  1.870000e+01   79.2
55  World  OWID_WRL  2020           NaN       NaN  1.620000e+01   75.0